name: Deploy

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run tests
        run: sbt test
      - name: Build image
        run: sbt docker:publishLocal
      - name: Push to Docker hun
          uses: docker/build-push-action@v1
          with:
            username: ${{ secrets.DOCKER_NAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            repository: kuzmo/scala-docker
            tag_with_ref: true
